# Server
PORT=8292
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=notes_db_test
DB_USER=postgres
DB_PASSWORD=root

# Rate limiting
RATE_LIMIT_PER_MINUTE=100
WRITE_RATE_LIMIT_PER_MINUTE=30